{% extends "core_control/base/base.html" %}

{% block title %}Privacy Plates{% endblock title %}

{% load static %}
{% block content %}



    <div class="container">
        <h1 class="text-center mt-4">EXPLORE OUR PRIVATE PLATES:</h1>
        <p class="text-center mt-4 ps-4 pe-4">When purchasing, it may take up to 2 weeks to receive your new or
            replacement DVLA V750 Certificate of Entitlement. After purchasing a registration from AqibPlates, we will
            notify the DVLA to issue a new V750 Certificate using the information you provided during the purchase
            process.</p>
        <div class="divider-faq"></div>

        <div class="container-fluid mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/campbell-3ZUsNJhi_Ik-unsplash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/campbell-3ZUsNJhi_Ik-unsplash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/campbell-3ZUsNJhi_Ik-unsplash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/campbell-3ZUsNJhi_Ik-unsplash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/campbell-3ZUsNJhi_Ik-unsplash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/campbell-3ZUsNJhi_Ik-unsplash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock content %}

    {% block optionalcjsl %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock optionalcjsl %}